<h1>All Orders</h1>
<table>
  <tr>
      <th>Id</th>
    <th>Name</th>
    <th>Status</th>
    <th>Item</th>
    <th>ProjectName</th>
  </tr>
<% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.name %></td>
    <td><%= order.status %></td>
    <td><%= order.item %></td>
    <td><%= order.projectname %></td>
  </tr>
<% end %>
</table>
