<body>
  <h1>Software Ordering Services</h1>
  <div class="container-fluid" id="back">
    <header>

      <% if @current_user.present? && @current_user.admin == false %>
        <h2>Welcome
          <span class="names">
            <%= @current_user.name %></span></h2>
      <% else %>
        <% if @current_user.present? %>
          <h2>Welcome
            <span class="names">
              Administrator</span></h2>
        <% end %>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card-group">
                <div class="card">
                  <img src="https://cdn.windowsreport.com/wp-content/uploads/2019/07/Microsofts-Visual-Studio-2019-version-16.2-brings-productivity-changes.png" class="d-block w-100" alt="...">
                  <p class="home">Visual Studio 2019 is an integrated, complete solution with development tools, , cloud services and extensions that enables you and your team to create great applications and games for desktops, the web, Android and iOS.</p>
                </div>
                <div class="card">
                  <img src="https://f0.pngfuel.com/png/177/242/java-logo-plain-old-java-object-programming-language-computer-programming-object-oriented-programming-others-png-clip-art-thumbnail.png" class="d-block w-100" alt="...">
                  <p class="home">Java is a high-level programming language developed by Sun Microsystems.It was originally designed for developing programs for set-top boxes and handheld devices, but later became a popular choice for creating web applications.</p>
                </div>
                <div class="card">
                  <img src="https://www.ibt.com.au/wp-content/uploads/2015/01/Oracle-Peoplesoft-e1435552997476.png" class="d-block w-100" alt="...">
                  <p class="home">Oracle's PeopleSoft applications are designed to address the most complex business requirements. They provide comprehensive business and industry solutions, enabling organizations to increase productivity, accelerate business performance.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card-group">
                <div class="card">
                  <img src="https://lh3.googleusercontent.com/proxy/Yw3qbwYxYezhAtc_ymzwmtf7pB-NX0-xAd2YYUWQipFCip7c2Wx8rEuuToYJFJn6vg7ab4zrPctGhPqLYFw_XmYAq9i5xYzID6k" class="d-block w-100" alt="...">
                  <p class="home">Python is a general purpose and high level programming language. You can use Python for developing desktop GUI applications, websites and web applications. Also, Python, as a high level programming language, allows you to focus on core functionality of the application by taking care of common programming tasks.</p>
                </div>
                <div class="card">
                  <img src="https://thumbs.dreamstime.com/b/sql-database-web-language-programming-designing-logo-monogram-symbol-sites-banners-171784940.jpg" class="d-block w-100" alt="...">
                  <p class="home">The SQL Server is a relational database management system from Microsoft. The system is designed and built is to manage and store information. The system supports various business intelligence operations, analytics operations, and transaction processing.</p>
                </div>
                <div class="card">
                  <img src="https://skillvalue.com/jobs/wp-content/uploads/sites/7/2019/07/developpeur-react-native-mission-freelance-et-remote.jpg" class="d-block w-100" alt="...">
                  <p class="home">React Native is an open-source mobile application framework created by Facebook. It is used to develop applications for Android, iOS, Web and UWP by enabling developers to use React along with native platform capabilities</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card-group">
                <div class="card">
                  <img src="https://pluralsight.imgix.net/paths/path-icons/angular-14a0f6532f.png" class="d-block w-100" alt="...">
                  <p class="home">AngularJS is a structural framework for dynamic web applications. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application components clearly and succinctly. Its data binding and dependency injection eliminate much of the code you currently have to write.</p>
                </div>
                <div class="card">
                  <img src="https://image.ceneostatic.pl/data/products/48005978/i-microsoft-azure-information-protection-premium-p2-1-rok-0962a210418f-12m.jpg" class="d-block w-100" alt="...">
                  <p class="home">At its core, Azure is a public cloud computing platform—with solutions including Infrastructure as a Service (IaaS), Platform as a Service (PaaS), and Software as a Service (SaaS) that can be used for services such as analytics, virtual computing, storage, networking, and much more.</p>
                </div>
                <div class="card">
                  <img src="https://www.eclipse.org/eclipse.org-common/themes/solstice/public/images/logo/eclipse-foundation-400x400.png" class="d-block w-100" alt="...">
                  <p class="home">In the context of computing, Eclipse is an integrated development environment (IDE) for developing applications using the Java programming language and other programming languages such as C/C++, Python, PERL, Ruby etc. ... Eclipse can be used as an IDE for any programming language for which a plug-in is available.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      <% end %>
    </header>

    <% if @current_user.present? && @current_user.admin==false %>
      <%= link_to "Click here to view your current orders", order_path(@current_user.id)%>
      <marquee>
        <h3>Raise your tickets here</h3>
      </marquee>

      <%= form_for Order.new do |f| %>

      <div class="form-group">
        <%= f.label :SOFTWARE_PACKAGE, :class => 'ticket'%>
        <%= f.text_field :item, :required => true, :autofocus => true, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :VERSION, :class => 'ticket'%>
        <%= f.text_field :name, :required => true, :autofocus => true, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :PROJECT_NAME, :class => 'ticket'%>
        <%= f.text_field :projectname, :required => true, :class => 'form-control' %>
      </div>

      <%= f.submit "submit!", :class => "btn btn-outline-success"%>
    <% end %>

  <% end %>
  <footer class="clearfix">
    <p class="message">
      Created with &hearts; by karthikeyan
    </p>

  </footer>
</div>
</body>
